[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
mecab-python3 = "*"
matplotlib = "*"
cabocha-python = "*"
networkx = "*"

[dev-packages]

[requires]
python_version = "3.8"
