[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
matplotlib = "*"
networkx = "*"
mecab-python3 = "*"
cabocha-python = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.6"
